Repository shinobiultra/deadline: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-write, eslint-fix

.pre-commit-config.yaml:

minimum_pre_commit_version: '4.0.0'
default_stages: [pre-commit]

repos:
  - repo: local
    hooks:
      - id: prettier-write
        name: prettier (staged write)
        entry: npm exec prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, yaml]
      - id: eslint-fix
        name: eslint (staged fix)
        entry: npm exec eslint --fix --max-warnings=0
        language: system
        types_or: [javascript, jsx, ts, tsx]
      - id: typecheck-strict
        name: typecheck (strict)
        entry: npm run typecheck
        language: system
        pass_filenames: false
      - id: unit-property-tests
        name: unit + property tests
        entry: npm run test
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: e2e-suite
        name: e2e suite
        entry: npm run test:e2e
        language: system
        pass_filenames: false
        stages: [pre-push]
      - id: perf-report
        name: perf report
        entry: npm run test:perf
        language: system
        pass_filenames: false
        stages: [pre-push]

feat: switch to wide map layout and fix manual globe rotation
  CHANGELOG.md
  README.md
  docs/README.md
  docs/agents/implementation/daily_log.md
  docs/agents/implementation/decisions.md
  docs/agents/implementation/status.md
  docs/deploy.md
  docs/testing.md
  docs/ui.md
  docs/versioning.md
  package-lock.json
  package.json
  src/app/App.tsx
  src/views/globe3d/Globe3DView.tsx
  tests/e2e/app.spec.ts
Due: prettier-write, eslint-fix

feat: harden deadline UX and gh-pages rendering
  .github/workflows/ci.yml
  .github/workflows/deploy-gh-pages.yml
  CHANGELOG.md
  README.md
  docs/README.md
  docs/agents/implementation/daily_log.md
  docs/agents/implementation/decisions.md
  docs/agents/implementation/open_questions.md
  docs/agents/implementation/status.md
  docs/architecture.md
  docs/deploy.md
  docs/gh-pages.md
  docs/render-loop.md
  docs/testing.md
  docs/ui.md
  docs/versioning.md
  package-lock.json
  package.json
  playwright.config.ts
  playwright.gh-pages.config.ts
  scripts/serve_gh_pages_dist.mjs
  src/app/App.tsx
  src/features/civil/timezonePolygons.ts
  src/features/deadline/cities.ts
  src/features/deadline/slots.ts
  src/features/deadline/types.ts
  src/features/landmarks/useLandmarks.ts
  src/lib/assets.ts
  src/lib/useRenderNow.ts
  src/ui/CommandPanel.tsx
  src/ui/DebugOverlay.tsx
  src/views/detail/DetailMapView.tsx
  src/views/globe3d/Globe3DView.tsx
  src/views/map2d/Map2DView.tsx
  tests/e2e/gh-pages.spec.ts
  vite.config.ts
Due: prettier-write, eslint-fix

feat: harden deadline UX and deterministic UI capture
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs/README.md
  docs/agents/implementation/daily_log.md
  docs/agents/implementation/decisions.md
  docs/agents/implementation/status.md
  docs/architecture.md
  docs/screens/README.md
  docs/screens/demo-2d.png
  docs/screens/demo-3d-rotated.png
  docs/screens/demo-3d.png
  docs/screens/demo-debug.png
  docs/screens/demo-detail.png
  docs/screens/demo-mobile-2d.png
  docs/testing.md
  docs/ui-controls.md
  docs/ui.md
  docs/versioning.md
  package-lock.json
  package.json
  scripts/capture_ui.mjs
  scripts/check_docs_screens_clean.mjs
  src/app/App.tsx
  src/ui/CommandPanel.tsx
  src/ui/SettingsDrawer.tsx
  src/views/detail/DetailMapView.tsx
  src/views/globe3d/Globe3DView.tsx
  src/views/map2d/Map2DView.tsx
  tests/e2e/app.spec.ts
Due: prettier-write, eslint-fix

chore: stabilize demo capture mode and screenshot drift checks
  CHANGELOG.md
  docs/agents/implementation/daily_log.md
  docs/agents/implementation/decisions.md
  docs/agents/implementation/status.md
  docs/screens/demo-2d.png
  docs/screens/demo-3d-rotated.png
  docs/screens/demo-3d.png
  docs/screens/demo-debug.png
  docs/screens/demo-detail.png
  docs/screens/demo-mobile-2d.png
  docs/testing.md
  docs/ui.md
  package-lock.json
  package.json
  scripts/capture_ui.mjs
  scripts/check_docs_screens_clean.mjs
  src/app/App.tsx
  src/index.css
  src/ui/CommandPanel.tsx
  src/views/detail/DetailMapView.tsx
  src/views/globe3d/Globe3DView.tsx
Due: prettier-write, eslint-fix

chore: make 3d screenshot capture deterministic
  docs/agents/implementation/daily_log.md
  docs/screens/demo-3d-rotated.png
  docs/screens/demo-3d.png
  scripts/capture_ui.mjs
  scripts/check_docs_screens_clean.mjs
  src/views/globe3d/Globe3DView.tsx
Due: prettier-write, eslint-fix

docs: refresh deterministic 3d demo screenshots
  docs/screens/demo-3d-rotated.png
  docs/screens/demo-3d.png
Due: none

feat: reimplement map-first UI shell and harden UI/gh-pages tests
  CHANGELOG.md
  README.md
  docs/agents/implementation/daily_log.md
  docs/agents/implementation/status.md
  docs/screens/demo-2d.png
  docs/screens/demo-3d-rotated.png
  docs/screens/demo-3d.png
  docs/screens/demo-debug.png
  docs/screens/demo-detail.png
  docs/screens/demo-mobile-2d.png
  docs/spec.md
  docs/testing.md
  docs/ui-controls.md
  docs/ui.md
  docs/versioning.md
  package-lock.json
  package.json
  src/app/App.tsx
  src/views/detail/DetailMapView.tsx
  src/views/globe3d/Globe3DView.tsx
  src/views/map2d/Map2DView.tsx
  tests/e2e/app.spec.ts
  tests/e2e/gh-pages.spec.ts
Due: prettier-write, eslint-fix

chore: run playwright e2e with single worker for stable hooks
  package.json
Due: prettier-write

feat: add analytics and edge-safe HUD layout hardening
  CHANGELOG.md
  README.md
  docs/agents/implementation/daily_log.md
  docs/agents/implementation/status.md
  docs/screens/demo-2d.png
  docs/screens/demo-3d-rotated.png
  docs/screens/demo-3d.png
  docs/screens/demo-debug.png
  docs/screens/demo-detail.png
  docs/screens/demo-mobile-2d.png
  docs/testing.md
  docs/ui.md
  docs/versioning.md
  index.html
  package-lock.json
  package.json
  playwright.gh-pages.config.ts
  src/app/App.tsx
  src/index.css
  src/lib/analytics.ts
  src/main.tsx
  src/ui/DebugOverlay.tsx
  src/views/globe3d/Globe3DView.tsx
  src/views/map2d/Map2DView.tsx
  src/vite-env.d.ts
  tests/e2e/app.spec.ts
  tests/e2e/gh-pages.spec.ts
Due: prettier-write, eslint-fix
